<div class="media well item">
  <a class="pull-left" href="#">
    <img class="media-object" src="{{user.profile_image_url}}" alt="{{user.name}}"/>
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{user.name}}</h4>
    <h5 class="media-heading">@{{user.screen_name}}</h5>
    <p>{{text}}</p>
  </div>
</div>
